<!DOCTYPE html>
<html>
<head>
    <title>速销承诺</title>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"/>
    <link rel='stylesheet' href='/dest/stylesheets/all.css'/>
</head>
<body>
    <div class="header">
        <a class="btn-back" href="#"><i class="icon-iconfont-arrowleft"></i>返回</a>
    </div>

    <div class="section sec1">
        <div class="content text-center">
            <div class="title">业主中心</div>
            <div class="sub-title">移动卖房利器</div>
            <div class="img img1"></div>
        </div>
        <footer class="text-center">
            <div class="action-down">
                <i class="icon-iconfont-unfold"></i>
                <i class="icon-iconfont-unfold"></i>
            </div>
            <div class="title inverse">速销专属服务</div>
            <div class="sub-title sub-title-sm inverse">随时随地掌握房屋销售状态</div>
            <div class="btn">我要反馈</div>
        </footer>
    </div>
    <div class="section sec2">
        <div class="content text-center">
            <div class="title">专人服务</div>
            <div class="sub-title">专人联系, 少打扰</div>
            <div class="img img2"></div>
        </div>
        <footer class="text-center">
            <div class="action-down">
                <i class="icon-iconfont-unfold"></i>
                <i class="icon-iconfont-unfold"></i>
            </div>
            <div class="title inverse">速销专属服务</div>
            <div class="sub-title sub-title-sm inverse">体验VIP反馈渠道</div>
            <div class="btn">我要反馈</div>
        </footer>
    </div>
    <div class="section sec3">
        <div class="content text-center">
            <div class="title">优先展示</div>
            <div class="sub-title">速效签署, 链家网优先展示</div>
            <div class="img img3"></div>
        </div>
        <footer class="text-center">
            <div class="title inverse">速销专属服务</div>
            <div class="sub-title sub-title-sm inverse">全面推广, 体现优势</div>
            <div class="btn">我要反馈</div>
        </footer>
    </div>
</body>
<script src='http://cdn.bootcss.com/zepto/1.1.4/zepto.min.js'></script>
<script type="text/javascript" src="/dest/javascripts/pageSlider.min.js"></script>
<script type="text/javascript" src="/dest/javascripts/all.js"></script>
</html>